.form {
    margin-top: 5%;
    width: 35%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e5e5e5;
}

.registro {
    text-align: start;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 6px;
}

.cuadro {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.form label {
    display: block;
    margin-bottom: 5px;
    color: #262626;
}

input{
    width: 90%;
    padding: 13px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.form .boton {
    text-align: end;
}

p {
    text-align: start;
    margin-top: 20px;
}

.form .boton button {
    background-color: #4447ce;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form .boton button:hover {
    background-color: #45a049;
}

table {
    width: 60%;
    border-collapse: collapse;
    background-color: #c7783f;
    padding: 15px

}

table, th, td {
    border: 1px solid rgb(47, 47, 47);
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
}