.form {
    margin-top: 5%;
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form .boton {
    text-align: end;
}

p {
    text-align: start;
    margin-top: 20px;
}
.form .boton button {
    background-color: #4447ce;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form .boton button:hover {
    background-color: #45a049;
}

table {
    width: 50%;
    border-collapse: collapse;

}
table, th, td {
    border: 1px solid black;
}